




/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    background-color: black;
    color: white;
    overflow-x: hidden;
    text-align: center;
    font-weight: 700; /* Ustawienie wagi na bold */
}

/* Kolor tekstu dla wszystkich elementów */
body, h1, h2, h4, h5, h6, p, a, div, span, li, button {
    color: white !important;
}
h3 {
    color: black !important;
}

/* Tło maski */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: url('images/mask-image.jpg') no-repeat center center/cover;
}





/* Główny nagłówek */
.header {
    position: relative;
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 20px;
    z-index: 999;
    margin-bottom: 100px;
    background: url('images/photo24.png') no-repeat center center/cover;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s ease-in-out;
}

.header-text h1 {
    margin: 0;
    font-size: 48px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    letter-spacing: 5px;
    font-weight: bold;
}

.header-text h2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
}

/* Nagłówek przyczepny */
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: none;
    background-color: transparent;
    box-shadow: 0px 2px 5px rgba(0,0,0,0);
}

.sticky-header a {
    color: black;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    font-size: 28px;
    font-weight: bold;
    opacity: 0.3;
    margin-right: 20px;
}

/* Kontener na zawartość */
.container {
    width: 100%;
    margin: 20px auto;
    padding: 0px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    position: relative;
    z-index: 999;
    text-align: center;
}

.content-section {
    display: flex;
    justify-content: space-between; /* Rozdziela tekst i galerię */
    align-items: flex-start;
    /* width: 80%; */
    margin: 0;
    padding: 0;
    background-color: black;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery {
    display: flex;
    flex: auto;
    align-items: center;
    padding: 20px; /* Dodaj padding, aby zdjęcia nie były przyklejone do krawędzi */
    margin-right:-600px;
}

/* Kontener na zdjęcie główne */
.main-image {
    position: relative;
    width: 560px; /* Stała szerokość */
    height: 400px; /* Stała wysokość */
    overflow: hidden;
    margin-right: 10px;
    margin-left: 100px; /* Przesuwa zdjęcie w prawo */
}

.main-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Dopasowuje zdjęcie do kontenera, zachowując proporcje */
    display: block;
}


.thumbnails {
    display: flex;
    flex-direction: column;
    margin-left: 20px;  /* Odstęp od głównego zdjęcia */
    max-height: 500px;
    overflow-y: auto;
}

.thumbnails img {
    width: 80px;
    height: auto;
    cursor: pointer;
    margin-bottom: 10px;
    opacity: 0.7;
}

.thumbnails img.active {
    opacity: 1;
}

.nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 5px;
    cursor: pointer;
    z-index: 10;
}

.prev {
    left: 5px;
}

.next {
    right: 5px;
}

/* Kontener na tekst */

/* Kontener na tekst */
.text-content {
    flex: 1; /* Zajmuje pozostałą przestrzeń */
    padding: 40px;
    box-sizing: border-box;
    text-align: left;
    color: white;
    max-width: 100%; /* Maksymalna szerokość, aby nie zajmował całej przestrzeni */
    margin-right: -80px; /* Odstęp od galerii */
    padding-right:200px;
}
h2 {
    font-size: 24px;
    margin-bottom: 50px;
    
}

/* Stylowanie dla powiększonego obrazu */
.zoomable {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    z-index: 1;
}

.zoomed {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(1.5) !important;
    width: auto !important;
    height: auto !important;
    cursor: zoom-out !important;
    z-index: 1000 !important;
}


.content-section1 {
    display: flex;
    justify-content: space-between; /* Rozdziela tekst i galerię */
    align-items: flex-start;
    /* width: 80%; */
    margin: 0;
    padding: 0;
    background-color: white !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.gallery1 {
    display: flex;
    flex: auto;
    align-items: center;
    padding: 20px; /* Dodaj padding, aby zdjęcia nie były przyklejone do krawędzi */
    margin-right:-600px;
}

/* Kontener na zdjęcie główne */
.main-image1 {
    position: relative;
    width: 800px; /* Stała szerokość */
    height: 400px; /* Stała wysokość */
    overflow: hidden;
    margin-right: 10px;
    margin-left: 100px; /* Przesuwa zdjęcie w prawo */
}

.main-image1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Dopasowuje zdjęcie do kontenera, zachowując proporcje */
    display: block;
}

/* Kontener na tekst */
.text-content1 {
    flex: 1; /* Zajmuje pozostałą przestrzeń */
    padding: 40px;
    box-sizing: border-box;
    text-align: left;
    color: black !important;
    max-width: 100%; /* Maksymalna szerokość, aby nie zajmował całej przestrzeni */
    margin-right: -80px; /* Odstęp od galerii */
    padding-right:200px;
}
h3 {
    font-size: 24px;
    margin-bottom: 50px;
    
}

/* Stylowanie dla powiększonego obrazu */
.zoomable1 {
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, left 0.3s ease-in-out;
    z-index: 1;
}

.zoomed1 {
    position: fixed !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) scale(1.5) !important;
    width: auto !important;
    height: auto !important;
    cursor: zoom-out !important;
    z-index: 1000 !important;
}




/* Paski nawigacyjne */
.tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:black;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    z-index: 1000;
    transition: height 0.3s ease;
}

.tabs-left {
    display: flex;
    align-items: center;
}

.tabs-left a, .tabs-left button {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tabs-left a:hover, .tabs-left button:hover {
    opacity: 0;
}

.tabs-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.expand-button {
    width: 30px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.expand-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Rozwijane menu */
.tabs.expanded .expand-button {
    visibility: visible;
}

.tabs.expanded .tabs-left,
.tabs.expanded .tabs-right {
    visibility: hidden;
    display: flex;
}

.tabs.expanded {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabs a {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    color: black;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.tabs a:hover {
    opacity: 1;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 -30px;
}

.hidden {
    display: none;
}

.section {
    padding: 50px 0;
    text-align: center;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}



/* Media queries dla różnych rozmiarów ekranu */
@media only screen and (max-width: 1024px) {
    /* Stylowanie dla tabletów */
    .gallery {
        padding: 10px; /* Zmniejsz padding */
        margin-right: 0; /* Usuń przesunięcie w prawo */
    }

    .main-image {
        margin-left: 20px; /* Zmniejsz przesunięcie zdjęcia w prawo */
    }

    .header {
        height: 500px; /* Dopasuj wysokość nagłówka */
    }

    .header-text h1 {
        font-size: 36px;
    }

    .header-text h2 {
        font-size: 18px;
    }

    .container {
        width: 90%; /* Dopasuj szerokość kontenera */
    }

    .tabs a {
        font-size: 16px; /* Zmniejsz rozmiar czcionki w zakładkach */
    }

    .social-icons img {
        width: 25px; /* Zmniejsz ikonki społecznościowe */
    }

    .expand-button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 768px) {
    /* Stylowanie dla tabletów i telefonów */
    .gallery {
        padding: 10px; /* Zmniejsz padding */
        margin-right: 0; /* Usuń przesunięcie w prawo */
    }

    .main-image {
        margin-left: 10px; /* Zmniejsz przesunięcie zdjęcia w prawo */
    }

    .header {
        height: 500px; /* Dopasuj wysokość nagłówka */
    }

    .header-text h1 {
        font-size: 36px;
    }

    .header-text h2 {
        font-size: 18px;
    }

    .container {
        width: 90%; /* Dopasuj szerokość kontenera */
    }

    .photo-frame {
        margin-bottom: 10px; /* Odstęp między zdjęciami */
    }

    .tabs a {
        font-size: 16px; /* Zmniejsz rozmiar czcionki */
    }

    .social-icons img {
        width: 25px; /* Zmniejsz ikonki społecznościowe */
        margin: 0 10px;
    }

    .expand-button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 480px) {
    /* Stylowanie dla telefonów */
    .gallery {
        padding: 5px; /* Zmniejsz padding */
        margin-right: 0; /* Usuń przesunięcie w prawo */
    }

    .main-image {
        margin-left: 0; /* Usuń przesunięcie zdjęcia w prawo */
    }

    .header {
        height: 300px; /* Dopasuj wysokość nagłówka */
    }

    .header-text h1 {
        font-size: 22px;
        transform: translateY(20px);
    }

    .header-text h2 {
        font-size: 12px;
        transform: translateY(20px);
    }

    .tabs a {
        font-size: 14px; /* Zmniejsz rozmiar czcionki */
        padding: 5px 10px; /* Zmniejsz padding */
    }

    .social-icons {
        flex-direction: column; /* Ustaw ikony w kolumnie */
        align-items: flex-end;
        justify-content: flex-start;
    }

    .social-icons img {
        width: 20px; /* Zmniejsz ikonki społecznościowe */
        margin: 5px; /* Zmniejsz margines między ikonami */
    }

    .container {
        width: 90%; /* Dopasuj szerokość kontenera */
        margin: 0 auto;
    }

    .expand-button {
        margin-left: auto;
        margin-right: auto;
    }

    .sticky-header a {
        font-size: 15px; /* Zmniejsz rozmiar czcionki w sticky headerze */
        margin: 0 auto; /* Wyśrodkowanie tekstu */
    }
}
