* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Helvetica Neue", sans-serif;
}

:root {
    --bg-color: #000000;
    --second-bg-color: #313131;
    --text-color: #ffffff;
    --main-color: #baffc4;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif;
    background-color: var(--bg-color);
    overflow-x: hidden;
    text-align: center;
    font-weight: 700;
}

.education {
    padding: 100px 15px;
    background: var(--second-bg-color);
}

.education h2 {
    margin-bottom: 5rem;
}

.timeline-items {
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.timeline-items::before {
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background-color: var(--main-color);
    left: calc(50% - 2.5px);
    top: 0;
}

.timeline-item {
    width: calc(50% - 30px);
    position: relative;
    margin-bottom: 40px;
}

.timeline-item:nth-child(odd) {
    padding-right: 30px;
    text-align: right;
}

.timeline-item:nth-child(even) {
    padding-left: 30px;
    text-align: left;
}

.timeline-dot {
    height: 21px;
    width: 21px;
    background-color: var(--main-color);
    box-shadow: 0 0 25px var(--main-color), 0 0 50px var(--main-color);
    position: absolute;
    left: calc(50% - 10.5px);
    border-radius: 50%;
    top: 10px;
}

.timeline-item:nth-child(odd) .timeline-dot {
    left: calc(100% - 10.5px);
}

.timeline-item:nth-child(even) .timeline-dot {
    left: -10.5px;
}

.timeline-date {
    font-size: 20px;
    font-weight: 800;
    color: white;
    margin: 6px 0 15px;
}

.timeline-content {
    background-color: var(--bg-color);
    border: 3px solid var(--main-color);
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px var(--main-color);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover {
    transform: scale(1.05);
    box-shadow: 0 0 25px var(--main-color);
}

.timeline-content h3 {
    font-size: 20px;
    color: white;
    margin: 0 0 10px;
    font-weight: 500;
}

.timeline-content p {
    color: white;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.section {
    padding: 50px 0;
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .timeline-item {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 0 !important;
        text-align: left !important;
    }

    .timeline-dot {
        left: calc(50% - 10.5px) !important;
    }
}
