/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica', sans-serif;
    background-color: black;
    color: white;
}

/* Nagłówki */
.header {
    background-color: black;
    text-align: center;
    padding: 50px;
    margin-bottom: 50px;
}

.header-text h1, .header-text h2 {
    margin: 10px 0;
}

/* Przyciski nawigacyjne */
.tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 10px 50px;
}

.tabs-left a, .tabs-right a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

.social-icons a {
    margin: 0 5px;
}

.expand-button {
    cursor: pointer;
}

.sticky-header {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
}

.sticky-header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

/* Galeria */
.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}

.photo-frame {
    flex: 1 1 calc(30% - 20px);
    max-width: calc(30% - 20px);
    background-color: black;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
}

.photo-frame img {
    width: 100%;
    height: auto;
    display: block;
}

/* Paginacja */
.pagination {
    text-align: center;
    margin-top: 20px;
}

.pagination a {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 5px;
}

.pagination a.active {
    background-color: white;
    color: black;
}

.pagination span {
    color: white;
}

/* Dodaj dodatkowe style tutaj, jeśli potrzebujesz */
