/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    background-color: #ffffff;
    overflow-x: hidden;
    text-align: center;
    font-weight: 700; /* Ustawienie wagi na bold */
    transition: filter 0.5s ease;
}

/* Tło maski */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: url('images/mask-image.jpg') no-repeat center center/cover;
}

/* Główny nagłówek */
.header {
    position: relative;
    width: 100%;
    height: 700px;
    background: url('images/main-image.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 20px;
    z-index: 999;
    margin-bottom: 100px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s ease-in-out;
}

.header-text h1 {
    margin: 0;
    font-size: 48px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    letter-spacing: 5px;
    font-weight: bold;
}

.header-text h2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
}

/* Nagłówek przyczepny */
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: none;
    background-color: transparent;
    box-shadow: 0px 2px 5px rgba(0,0,0,0);
}

.sticky-header a {
    color: black;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    font-size: 28px;
    font-weight: bold;
    opacity: 0.3;
    margin-right: 20px;
}

/* Kontener na zawartość */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.blur {
    filter: blur(5px);
}
