/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Helvetica Neue', sans-serif;
    background-color: black;
    color: white;
    overflow-x: hidden;
    text-align: center;
    font-weight: 700;
}

/* Stylizacja galerii i sekcji */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    margin-top: 60px;
}

.photo-frame img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.photo-frame:hover img {
    transform: scale(1.1);
}

/* Sekcja O Mnie */
#about, #projects, #blog {
    padding: 50px 0;
    background-color: #333;
    margin-top: 50px;
}

/* Styl sekcji */
h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

/* Pozostałe style */
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    z-index: 1000;
    text-align: center;
}
