
/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    background-color: white;
    color: white;
    overflow-x: hidden;
    text-align: center;
    font-weight: 700; /* Ustawienie wagi na bold */
}

/* Tło maski */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: url('images/mask-image.jpg') no-repeat center center/cover;
}

/* Styl dla wideo */
video {
    
    height: auto; /* Automatyczna wysokość zachowująca proporcje */
    display: block; /* Blokowy wyświetlanie */
    margin: 0 auto; /* Wyśrodkowanie wideo */
    object-fit: cover; /* Dopasowanie wideo do kontenera */
}

/* Główny nagłówek */
.header {
    position: relative;
    width: 100%;
    height: 700px;
    background: url('images/main-image.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 20px;
    z-index: 999;
    margin-bottom: 100px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s ease-in-out;
}

.header-text h1 {
    margin: 0;
    font-size: 48px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    letter-spacing: 5px;
    font-weight: bold;
}

.header-text h2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
}

/* Nagłówek przyczepny */
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: none;
    background-color: transparent;
    box-shadow: 0px 2px 5px rgba(0,0,0,0);
}

.sticky-header a {
    color: black;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    font-size: 28px;
    font-weight: bold;
    opacity: 0.3;
    margin-right: 330px;
}

/* Kontener na zawartość */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    position: relative;
    z-index: 999;
    text-align: center;
}

/* Galeria zdjęć */
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 10px;
    margin-top: 20px;
}

.photo-frame {
    position: relative;
    overflow: hidden;
    opacity: 1;
    transform: translateY(50px);
    transition: opacity 1s ease-out, transform 1s ease-out;
    padding: 10px;
    margin-bottom: 40px;
}

.photo-frame img {
    width: 80%;
    margin-left: 80px;
    height: auto;
    display: block;
    transition: transform 0.5s ease;
}

.photo-frame video {
    width: 100%;
    height: auto;
}

.photo-frame img[src*="gaz1"], 
.photo-frame img[src*="photo1"] {
    transform: none !important;
    transition: none !important;
}

.photo-frame:hover img {
    transform: scale(1.1);
}

.photo-frame.visible {
    opacity: 1;
    transform: translateY(0);
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.expanded-img {
    max-width: 90%;
    max-height: 90%;
    cursor: pointer;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
}

.prev-btn {
    left: 20px;
}

.next-btn {
    right: 20px;
}

/* Paski nawigacyjne */
.tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color:white;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    z-index: 1000;
    transition: height 0.3s ease;
}

.tabs-left {
    display: flex;
    align-items: center;
}

.tabs-left a, .tabs-left button {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.tabs-left a:hover, .tabs-left button:hover {
    opacity: 0;
}

.tabs-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.expand-button {
    width: 30px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.expand-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Rozwijane menu */
.tabs.expanded .expand-button {
    visibility: visible;
}

.tabs.expanded .tabs-left,
.tabs.expanded .tabs-right {
    visibility: hidden;
    display: flex;
}

.tabs.expanded {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabs a {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.tabs a:hover {
    opacity: 1;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 -30px;
}

.hidden {
    display: none;
}

.section {
    padding: 50px 0;
    text-align: center;
}

/* Dodatkowe style dla paginacji */
.pagination {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    font-size: 16px;
    color: transparent;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
    background-color: transparent;
    color: black;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0;
}

#about p {
    font-size: 18px;
    line-height: 1.6;
}

#projects h2,
#contact h2 {
    text-align: center;
    margin-bottom: -110px;
}

.project-grid {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.project-item {
    width: 30%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.project-item img {
    width: 100%;
    height: auto;
}

footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 20px 0;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Media queries dla różnych rozmiarów ekranu */
@media only screen and (max-width: 1024px) {
    /* Stylowanie dla tabletów */
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(33.33%, 1fr));
    }
}

@media only screen and (max-width: 768px) {
    /* Stylowanie dla tabletów i telefonów */
    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    }

    .header {
        height: 500px;
    }

    .header-text h1 {
        font-size: 36px;
    }

    .header-text h2 {
        font-size: 18px;
    }

    .container {
        width: 90%;
    }

    .photo-frame {
        margin-bottom: 10px;
        flex-direction: column;
        align-items: center;
    }

    .photo-frame img {
        width: 100%;
    }

    .tabs a {
        font-size: 16px;
    }

    .social-icons img {
        width: 25px;
        margin: 0 10px;
    }

    .expand-button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 480px) {
    /* Stylowanie dla telefonów */
    .header {
        height: 300px;
    }

    .header-text h1 {
        font-size: 22px;
        transform: translateY(20px);
    }

    .header-text h2 {
        font-size: 12px;
        transform: translateY(20px);
    }

    .tabs a {
        font-size: 14px;
        padding: 5px 10px;
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .social-icons img {
        width: 20px;
        margin: -60px;
        transform: translateX(34px);
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .expand-button {
        margin-left: auto;
        margin-right: auto;
    }

    .sticky-header a {
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}
