/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Helvetica', sans-serif;
    background-color: #ffffff;
    overflow-x: hidden;
    text-align: center; /* Wyśrodkowanie tekstu w całym body */
}

/* Tło maski */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: url('images/mask-image.jpg') no-repeat center center/cover;
}

/* Główny nagłówek */
.header {
    position: relative;
    width: 100%;
    height: 700px;
    background: url('images/main-image.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 20px;
    z-index: 999;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s ease-in-out;
}

.header-text h1 {
    margin: 0;
    font-size: 48px;
    font-family: 'Helvetica', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
}

.header-text h2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Helvetica', sans-serif;
}

/* Nagłówek przyczepny */
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: none; /* Domyślnie ukryty */
    background-color: transparent;
    box-shadow: 0px 2px 5px rgba(0,0,0,0);
}

.sticky-header a {
    color: gray;
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.3;
    margin-right: 20px;
}

/* Kontener na zawartość */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    position: relative;
    z-index: 999;
    text-align: center; /* Wyśrodkowanie zawartości kontenera */
}

/* Ramki na zdjęcia */
.photo-frame {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-frame img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0px;
}

/* Paski nawigacyjne */
.tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    z-index: 1000;
    transition: height 0.3s ease;
}

.tabs-left {
    display: flex;
    align-items: center;
}

.tabs-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.expand-button {
    width: 30px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.expand-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Rozwijane menu */
.tabs.expanded .expand-button {
    visibility: visible;
}

.tabs.expanded .tabs-left,
.tabs.expanded .tabs-right {
    visibility: hidden;
    display: flex;
}

.tabs.expanded {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabs a {
    text-decoration: none;
    font-family: 'Helvetica', sans-serif;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.tabs a:hover {
    opacity: 1;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 10px; /* Zwiększony margines między ikonami */
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.section {
    padding: 50px 0;
    text-align: center;
}

/* Media queries dla różnych rozmiarów ekranu */
@media only screen and (max-width: 768px) {
    /* Stylowanie dla tabletów i telefonów */
    .header {
        height: 500px; /* Przykładowa zmiana wysokości nagłówka na mniejszych ekranach */
    }

    .header-text h1 {
        font-size: 36px; /* Przykładowa zmiana rozmiaru tekstu na mniejszych ekranach */
    }

    .header-text h2 {
        font-size: 18px; /* Przykładowa zmiana rozmiaru tekstu na mniejszych ekranach */
    }

    .container {
        width: 90%; /* Przykładowe dostosowanie szerokości kontenera na mniejszych ekranach */
        margin: 0 auto; /* Wyśrodkowanie kontenera */
    }

    .photo-frame {
        margin-bottom: 10px; /* Przykładowe dostosowanie marginesów ramek na mniejszych ekranach */
    }

    .tabs a {
        font-size: 16px; /* Przykładowa zmiana rozmiaru tekstu w nawigacji na mniejszych ekranach */
    }

    .social-icons img {
        width: 25px; /* Przykładowe zmniejszenie wielkości ikon społecznościowych na mniejszych ekranach */
        margin: 0 10px; /* Zwiększony margines między ikonami */
    }

    .expand-button {
        margin-left: auto; /* Wyśrodkowanie ikony rozwijania */
        margin-right: auto;
    }
}

@media only screen and (max-width: 480px) {
    /* Stylowanie dla telefonów */
    .header {
        height: 300px; /* Przykładowa zmiana wysokości nagłówka na bardzo małych ekranach */
    }

    .header-text h1 {
        font-size: 24px; /* Przykładowa zmiana rozmiaru tekstu na bardzo małych ekranach */
    }

    .header-text h2 {
        font-size: 14px; /* Przykładowa zmiana rozmiaru tekstu na bardzo małych ekranach */
    }

    .tabs a {
        font-size: 14px; /* Przykładowa zmiana rozmiaru tekstu w nawigacji na bardzo małych ekranach */
        padding: 5px 10px; /* Przykładowe dostosowanie paddingu w nawigacji na bardzo małych ekranach */
    }

    .social-icons img {
        width: 20px; /* Przykładowe zmniejszenie wielkości ikon społecznościowych na bardzo małych ekranach */
        margin: 0 20px; /* Zwiększony margines między ikonami */
    }

    .container {
        width: 90%; /* Przykładowe dostosowanie szerokości kontenera na bardzo małych ekranach */
        margin: 0 auto; /* Wyśrodkowanie kontenera */
    }

    .expand-button {
        margin-left: auto; /* Wyśrodkowanie ikony rozwijania */
        margin-right: auto;
    }
}
