* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Helvetica Neue", sans-serif;
}

:root {
    --bg-color: #000000; /* Czarne tło */
    --second-bg-color: #313131;
    --text-color: #ffffff; /* Biały tekst */
    --main-color: #baffc4; /* Główny kolor akcentujący */
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    overflow-x: hidden;
    text-align: center;
    font-weight: 700; /* Ustawienie wagi na bold */
}

/* Tło maski */
.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: url('images/mask-image.jpg') no-repeat center center/cover;
}

/* Główny nagłówek */
.header {
    position: relative;
    width: 100%;
    height: 700px;
    background: url('images/main-image.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 20px;
    z-index: 999;
    margin-bottom: 100px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s ease-in-out;
}

.header-text h1 {
    margin: 0;
    font-size: 48px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    letter-spacing: 5px;
    font-weight: bold;
}

.header-text h2 {
    margin: 0;
    font-size: 24px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
}

/* Nagłówek przyczepny */
.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: none;
    background-color: transparent;
    box-shadow: 0px 2px 5px rgba(0,0,0,0);
}

.sticky-header a {
    color: black;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    font-size: 28px;
    font-weight: bold;
    opacity: 0.3;
    margin-right: 20px;
}

/* Kontener na zawartość */
.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0);
    position: relative;
    z-index: 999;
    text-align: center;
}

/* Paski nawigacyjne */
.tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    z-index: 1000;
    transition: height 0.3s ease;
}

.tabs-left {
    display: flex;
    align-items: center;
}

.tabs-left button {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.tabs-left button:hover {
    opacity: 1;
}

.tabs-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.expand-button {
    width: 30px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.expand-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Rozwijane menu */
.tabs.expanded .expand-button {
    visibility: visible;
}

.tabs.expanded .tabs-left,
.tabs.expanded .tabs-right {
    visibility: hidden;
    display: flex;
}

.tabs.expanded {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabs a {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.tabs a:hover {
    opacity: 1;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 -30px;
}

/* Dodatkowe style dla paginacji */
.pagination {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.pagination button {
    padding: 8px 16px;
    margin: 0 5px;
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    font-size: 16px;
    color: transparent;
    background-color: transparent;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.pagination button:hover {
    background-color: transparent;
    color: #fff;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

/* Timeline */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
}

/* Oś czasu */
.timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #baffc4;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: -3px;
}

/* Kontenery */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container.left {
    left: 0;
    text-align: right;
}

.container.right {
    left: 50%;
    text-align: left;
}

.content {
    padding: 20px 30px;
    background-color: #333;
    position: relative;
    border-radius: 6px;
    border: 2px solid #baffc4;
    box-shadow: 0 0 20px #baffc4;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-in-out forwards;
    animation-delay: calc(var(--order) * 0.2s);
    text-align: justify;
}

/* Kropki osi czasu */
.container.left::after, .container.right::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: #baffc4;
    border: 4px solid #1c1c1c;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container.left::after {
    right: -17px;
}

.container.right::after {
    left: -17px;
}

.left .content {
    margin-left: 70px;
}

.right .content {
    margin-right: 70px;
}

h2, h3 {
    margin: 0;
}

p {
    margin: 10px 0 0;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    width: 100%;
}

.home-content .subtitle {
    color: var(--main-color);
    font-size: 2rem;
}

.home-content .title {
    font-size: 4rem;
    margin: 0;
}

.home-content .title-underline {
    position: relative;
    display: inline-block;
    margin-bottom: 2rem;
}

.home-content .title-underline::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 5px;
    width: 100%;
    background: var(--main-color);
}

/* Wersja mobilna */
@media (max-width: 768px) {
    .container {
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container.left, .container.right {
        left: 0;
        text-align: left;
    }

    .container.left .content, .container.right .content {
        margin-left: 0;
        margin-right: 0;
    }

    .timeline::before {
        left: 20px;
        transform: none;
    }

    .tabs {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .tabs-left, .tabs-right {
        display: block;
        width: 100%;
    }

    .tabs-left button {
        margin: 0;
        padding: 10px;
    }

    .tabs-right {
        margin-top: 10px;
        text-align: center;
    }

    .pagination {
        flex-direction: column;
    }
}
