


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Helvetica Neue", sans-serif;
}

:root {
    --bg-color: #000000; /* Czarne tło */
    --second-bg-color: #313131;
    --text-color: #ffffff; /* Biały tekst */
    --main-color: #baffc4; /* Główny kolor akcentujący */
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    font-family: 'Helvetica Neue', sans-serif; /* Użyj Helvetica Bold */
    overflow-x: hidden;
    text-align: center;
    font-weight: 700; /* Ustawienie wagi na bold */
}

.header {
    position: relative;
    width: 100%;
    height: 700px;
    background: url('images/main-image.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
    padding-top: 20px;
    z-index: 999;
    margin-bottom: 100px;
}

.header-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fadeIn 2s ease-in-out;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background: url('images/mask-image.jpg') no-repeat center center/cover;
}

.sticky-header {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0px 2px 5px rgba(0,0,0,0);
}

.sticky-header a {
    color: black;
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 28px;
    font-weight: bold;
    opacity: 0.3;
    margin-right: 20px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 0;
   
}

.timeline::before {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #baffc4;
    top: -100px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 30px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container.left {
    left: 0;
}

.container.right {
    left: 50%;
}

.content {
    padding: 20px 30px;
    background-color: #333;
    position: relative;
    border-radius: 6px;
    border: 2px solid #baffc4;
    box-shadow: 0 0 20px #baffc4;
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.5s ease-in-out forwards;
    animation-delay: calc(var(--order) * 0.2s);
    text-align: justify;
}

.date {
    text-align: center;
}

.container.left .content {
    animation-delay: calc(var(--order) * 0.4s);
}

.container.right .content {
    animation-delay: calc(var(--order) * 0.4s + 0.2s);
}

.container.left::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: #baffc4;
    border: 4px solid #1c1c1c;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container.right::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    left: -17px;
    background-color: #baffc4;
    border: 4px solid #1c1c1c;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left .content {
    margin-left: 70px;
    margin-top: 0px;
}

.right .content {
    margin-right: 70px;
    margin-bottom: 0px;
}

h2, h3 {
    margin: 0px;
}

p {
    margin: 10px 0 0;
 margin-top: 20px ;

}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

section {
    min-height: 100vh;
    padding: 10rem 12%;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
    font-size: 0.875rem;
}

span {
    color: var(--main-color);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 32vw;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.home-img img:hover {
    box-shadow: 0 0 5px var(--main-color),
                0 0 10px var(--main-color),
                0 0 25px var(--main-color);
}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.8;
    max-width: 1000px;
}

.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    border-radius: 0rem;
    font-size: 1.6rem;
    color: black;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px var(--main-color);
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5em;
    margin-top: 2.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: black;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 0 0 10px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 10px var(--main-color);
    background-color: var(--main-color);
    color: black;
}

.tabs {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 20px;
    z-index: 1000;
    transition: height 0.3s ease;
}

.tabs-left {
    display: flex;
    align-items: center;
}

.tabs-left a {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.tabs-left a:hover {
    opacity: 1;
}

.tabs-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.expand-button {
    width: 30px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
}

.expand-button img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.tabs.expanded .expand-button {
    visibility: visible;
}

.tabs.expanded .tabs-left,
.tabs.expanded .tabs-right {
    visibility: hidden;
    display: flex;
}

.tabs.expanded {
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.tabs a {
    text-decoration: none;
    font-family: 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    background-color: transparent;
    opacity: 0.5;
    transition: opacity 0.3s ease;
}

.tabs a:hover {
    opacity: 1;
}

.social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-left: 10px;
}

.social-icons img {
    width: 30px;
    margin: 0 -30px;
}

.heading {
    font-size: 8rem; 
    text-align: center;
    margin: 5rem 0;
}

.services {
    position: relative;
    padding: 50px 20px;
    background: #000000;
}

.services-container {
    display: flex;
    flex-wrap: wrap;
}

.service-box {
    margin-bottom: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background 0.3s, transform 0.3s;
}

.service-info {
    cursor: pointer;
}

#game-design {
    background-color: #333;
}

#game-design:hover {
    background-color: #3a3a3a;
    color: var(--main-color);
}

.services h2 {
    margin-bottom: 5rem;
    color: var(--main-color);
}

.services-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-left: 5%;
    padding-right: 5%;
}

.service-box {
    background: var(--second-bg-color);
    padding: 2rem;
    border: 2px solid transparent;
    transition: 0.4s ease-in-out;
}

.service-box:hover {
    box-shadow: 0 0 5px var(--main-color),
                0 0 10px var(--main-color),
                0 0 25px var(--main-color);
}

.service-info h4 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.service-info p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.email-link {
    color: var(--primary-color);
    text-decoration: none;
    background-color: transparent;
    padding: 0;
    transition: color 0.3s ease, box-shadow 0.3s ease;
}

.email-link:hover {
    color: #baffc4;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.hidden {
    display: none;
}

.section {
    padding: 50px 0;
    text-align: center;
}


.tabs a {
        font-size: 16px;
    }

/* Style dla sekcji .skany */
.skany {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
}
.skany .photo-frame {
    width: 30%;
    margin: 10px;
}
.skany img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
}



/* Media queries dla różnych rozmiarów ekranu */
@media only screen and (max-width: 768px) {
    /* Stylowanie dla tabletów i telefonów */
    .header {
        height: 500px;
    }

    .header-text h1 {
        font-size: 36px;
    }

    .header-text h2 {
        font-size: 18px;
    }

    .container {
        width: 90%;
    }

    .photo-frame {
        margin-bottom: 10px;
    }

    .tabs a {
        font-size: 16px;
    }

    .social-icons img {
        width: 25px;
        margin: 0 10px;
    }

    .expand-button {
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 480px) {
    /* Stylowanie dla telefonów */
    .header {
        height: 300px;
    }

    .header-text h1 {
        font-size: 22px;
        transform: translateY(20px);
    }

    .header-text h2 {
        font-size: 12px;
        transform: translateY(20px);
    }

    .tabs a {
        font-size: 14px;
        padding: 5px 10px;
    }

    .social-icons {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
    }

    .social-icons img {
        width: 20px;
        margin: -60px;
        transform: translateX(34px);
    }

    .container {
        width: 90%;
        margin: 0 auto;
    }

    .expand-button {
        margin-left: auto;
        margin-right: auto;
    }

    .sticky-header a {
        font-size: 15px;
        margin-left: auto;
        margin-right: auto;
    }
}



/* Nowe style do płynnego pojawiania się zdjęć podczas przewijania */

.photo-frame {
opacity: 0;
transform: translateY(50px);
transition: opacity 1s ease-out, transform 1s ease-out;
}

.photo-frame.visible {
opacity: 1;
transform: translateY(0);
}

/* Nowe style do płynnego pojawiania się zdjęć podczas przewijania */

.photo-frame {
opacity: 0;
transform: translateY(50px);
transition: opacity 1s ease-out, transform 1s ease-out;
}

.photo-frame.visible {
opacity: 1;
transform: translateY(0);
}

 /* Media query for mobile devices */
    @media (max-width: 768px) {
        .section {
            flex-direction: column;
            height: auto; /* Allow sections to adjust height based on content */
        }

        .section img, .section video {
            width: 80%;
            margin: 10px 0;
        }

        .section .text {
            width: 90%;
            text-align: center;
            padding: 10px;
        }
    

        .container {
        width: 90%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .container.left, .container.right {
        left: 10px;
    }

    .container.left .content, .container.right .content {
        margin-left: 10px;
        margin-right: 10px;
    }

  

    .heading {
        font-size: 4rem;
    }

 /* Usunięcie kropek w timeline */
    .container.left::after, .container.right::after {
        display: none;
    }
}
